{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% trans 'Загрузка файла' %}
{% endblock %}
{% block sidebar %}
{% include 'inc/_side_shop.html' %}
{% endblock %}
{% block content %}

{% if request.user.is_staff %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="col-auto mb-3">
        <button  class="btn btn-sm btn-outline-secondary" type="submit" >{% trans 'Загрузить файл' %}</button>
    </div>
</form>
{% endif %}
{% endblock %}