{% extends 'main_base.html' %}
{% load i18n %}
{% block title %}
{% trans 'Не выставленный товар' %}
{% endblock %}
{% load static %}
{% load mathfilters %}
{% block content %}
<div class="col-md-8 order-md-1 mb-3">
    <form method="post" class="needs-validation">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3 mb-3">
                {{ form.bu.errors }}
                <label for="{{ form.bu.id_for_label }}">Бизнес юнит:</label>
                {{ form.bu }}
            </div>
            <div class="col-md-3 mb-3">
                {{ form.date_in.errors }}
                <label for="{{ form.date_in.id_for_label }}">Начальная дата:</label>
                {{ form.date_in }}
            </div>
            <div class="col-md-3 mb-3">
                {{ form.date_finish.errors }}
                <label for="{{ form.date_finish.id_for_label }}">Конечная дата:</label>
                {{ form.date_finish }}
            </div>
            <div class="col-md-3 mb-3 my-auto ">
                <button type="submit" class="btn btn-primary btn-lg">Выбрать</button>
            </div>
        </div>
    </form>
</div>
<h3 class="text-center mb-3">{{object_list.0.sklad}} c {{date_first}} по {{date_last}}</h3>
<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-4">
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Отгрузка</p>
                        <h4 class="my-1">{{all.Отгрузка.0}}</h4>
                        <p class="mb-0 font-13 text-success"><i class="bi bi-caret-up-fill"></i>
                            {{all.Отгрузка.1}} % </p>
                    </div>
                    <div class="widget-icon-large bg-gradient-purple text-white ms-auto"><i
                            class="bi bi-basket2-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Подбор</p>
                        <h4 class="my-1">{{all.Подбор.0}}</h4>
                        <p class="mb-0 font-13 text-success"><i class="bi bi-caret-up-fill"></i>
                            {{all.Подбор.1}} % </p>
                    </div>
                    <div class="widget-icon-large bg-gradient-success text-white ms-auto"><i
                            class="bi bi-currency-exchange"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Приемка</p>
                        <h4 class="my-1">{{all.Приемка.0}}</h4>
                        <p class="mb-0 font-13 text-success"><i class="bi bi-caret-down-fill"></i>
                            {{all.Приемка.1}} % </p>
                    </div>
                    <div class="widget-icon-large bg-gradient-danger text-white ms-auto"><i
                            class="bi bi-people-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Доставка</p>
                        <h4 class="my-1">{{all.Доставка.0}}</h4>
                        <p class="mb-0 font-13 text-success"><i class="bi bi-caret-up-fill"></i>
                            {{all.Доставка.1}} % </p>
                    </div>
                    <div class="widget-icon-large bg-gradient-info text-white ms-auto"><i
                            class="bi bi-bar-chart-line-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Перенос</p>
                        <h4 class="my-1">{{all.Перенос.0}}</h4>
                        <p class="mb-0 font-13 text-success"><i class="bi bi-caret-up-fill"></i>
                            {{all.Перенос.1}} % </p>
                    </div>
                    <div class="widget-icon-large bg-gradient-warning text-white ms-auto"><i
                            class="bi bi-basket2-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Пст</p>
                        <h4 class="my-1">{{all.Пст_в_зал.0}}</h4>
                        <p class="mb-0 font-13 text-success"><i class="bi bi-caret-up-fill"></i>
                            {{summa_pst}} шт. </p>
                    </div>
                    <div class="widget-icon-large bg-gradient-purple text-white ms-auto"><i
                            class="bi bi-currency-exchange"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Инвентаризация</p>
                        <h4 class="my-1">{{all.Инвентаризация.0}}</h4>
                        <p class="mb-0 font-13 text-success"><i class="bi bi-caret-down-fill"></i>
                            {{all.Инвентаризация.1}} % </p>
                    </div>
                    <div class="widget-icon-large bg-gradient-info text-white ms-auto"><i
                            class="bi bi-people-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Самовывоз</p>
                        <h4 class="my-1">{{all.Самовывоз.0}}</h4>
                        <p class="mb-0 font-13 text-success"><i class="bi bi-caret-up-fill"></i>
                            {{all.Самовывоз.1}} % </p>
                    </div>
                    <div class="widget-icon-large bg-gradient-success text-white ms-auto"><i
                            class="bi bi-bar-chart-line-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--end row-->

<div class="row">
    <div class="col-12 col-lg-12 col-xl-12 d-flex">
        <div class="card radius-10 w-100">
            <div class="card-body">
                <div class="row row-cols-1 row-cols-lg-2 g-3 align-items-center">

                </div>
                <div id="container1"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-8 col-xl-8 d-flex">
        <div class="card radius-10 w-100">
            <div class="card-body">
                <div class="row row-cols-1 row-cols-lg-2 g-3 align-items-center">
                    <div class="col">
                        <h5 class="mb-0"></h5>
                    </div>
                </div>
                <div id="container2"></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 col-xl-4 d-flex">
        <div class="card radius-10 w-100">
            <div class="card-header bg-transparent">
                <div class="row g-3 align-items-center">
                    <div class="col">
                        <h5 class="mb-0">Секторная диаграмма</h5>
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-center justify-content-end gap-3 cursor-pointer">
                            <div class="dropdown">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="container3"></div>
            </div>
        </div>
    </div>
</div><!--end row-->
<h3 class="text-center mb-3">Индивидуальная статистика</h3>
<div class="card radius-10">
    <div class="card-header bg-transparent">
        <div class="row g-3 align-items-center">
            <div class="col">
                <div class="d-flex align-items-center justify-content-center gap-3 cursor-pointer">
                    <div class="dropdown"><h3>
                    </h3></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table_sort table align-middle mb-0">
                <thead class="table-light">
                <tr>
                    <th>Табель</th>
                    <th>Всего операций</th>
                    <th>Отгрузка</th>
                    <th>Подбор</th>
                    <th>Приемка</th>
                    <th>Доставка</th>
                    <th>Перенос</th>
                    <th>Пст в зал</th>
                    <th>Инвентаризация</th>
                    <th>Самовывоз</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in users.items %}
                <tr>
                    <td>
                        <a class="link-dark" href="https://time.hoff.ru/search/?q={{key}}">
                            {{key|safe}}
                        </a>
                    </td>
                    {% for i, j in value.items %}
                    <td>
                        <div class="d-flex align-items-center gap-3">
                            <div class="product-info">
                                {% if i == 'Пст_в_зал' %}
                                <h4 class="product-name mb-1">{{j}} ({{value.all.1}} шт.)</h4>
                                {% elif i == 'all' %}
                                <h4 class="product-name mb-1">{{j.0}}</h4>
                                {% else %}
                                <h4 class="product-name mb-1">{{j}}</h4>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<h3 class="text-center mb-3">Операции по подбору самовывоза</h3>
<div class="card radius-10">
    <div class="card-header bg-transparent">
        <div class="row g-3 align-items-center">
            <div class="col">
                <div class="d-flex align-items-center justify-content-end gap-3 cursor-pointer">
                    <div class="dropdown"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table_sort table align-middle mb-0">
                <col style="width:5%">
                <col style="width:5%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:15%">
                <col style="width:15%">
                <thead class="table-light">
                <tr>
                    <th>№</th>
                    <th>Склад</th>
                    <th>Название документа</th>
                    <th>Тип документа</th>
                    <th>Время создания</th>
                    <th>Время завершения</th>
                    <th>Дельта</th>
                    <th>Исполнитель</th>
                </tr>
                </thead>
                <tbody>
                {% for item in pickup %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{item.sklad}}</td>
                    <td>{{item.name_document}}</td>
                    <td>{{item.type_document}}</td>
                    <td>{{item.created_at}}</td>
                    <td>{{item.finished_at}}</td>
                    {% with numerator=item.finished_at denominator=item.created_at %}
                    <td>{{ numerator|sub:denominator }}</td>
                    {% endwith %}
                    <td>
                        <a class="link-dark" href="https://time.hoff.ru/search/?q={{item.user}}">
                            {{item.user}}
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}